<div class="jumbotron">
  <h1 class="title">Sceach Chef</h1>
  <br><br>
  <p class="slogan">寻找极致的美食家
    <br>
    让更多人品尝、了解、极致的意义
    <br>
    我们期待您的加入
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上加入</a></p>
</div>

<h3 class="content">特长类别</h3>
<hr>
<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <div class="caption">
          <a  href="/jobs/12"><img src="<%= image_url 'duck.png'%>"></a>
          <p class="menu">
            <a href="/jobs">烧腊</a>
          </p>

          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <div class="caption">

          <a  href="jobs"><img src="<%= image_url 'sushi.png'%>"></a>
          <p>
            <a href="/jobs">寿司</a>
          </p>

          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <div class="caption">

          <a  href="jobs"><img src="<%= image_url 'noodles.png'%>"></a>
          <p>
            <a href="/jobs">面食</a>
          </p>

          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <div class="caption">

          <a  href="jobs"><img src="<%= image_url 'cake.png'%>"></a>
          <p>
            <a href="/jobs">西点</a>
          </p>

          </div>
        </div>
      </div>

      <div class="col-sm-4 ">
        <div class="thumbnail">
          <div class="caption">

          <a  href="jobs"><img src="<%= image_url 'wine-bottle.png'%>"></a>
          <p>
            <a href="/jobs">调酒</a>
          </p>

          </div>
        </div>
      </div>

      <div class="col-sm-4 ">
        <div class="thumbnail">
          <div class="caption">

          <a  href="jobs"><img src="<%= image_url 'chef-cooking-with-frying-pan.png'%>"></a>
          <p>
            <a href="/jobs">热菜</a>
          </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br /> <br />
<footer class="container" style="margin top: 100px;">
  <div class="text-center">
    <div class="icon">
    <!-- just add href= for your links, like this: -->
    <a href="https://github.com/" class="btn btn-social btn-github", style="font-size:25px">
    <span class="fa fa-github"></span>Sign in with Github</a>
    <a href="https://fullstack.xinshengdaxue.com/" class="btn btn-social btn-envira", style="font-size:25px"><span class="fa fa-envira" aria-hidden="true"></span>Sign with 新生大学</a>
    <a href="http://fontawesome.io/icons/"  class="btn btn-social btn-font-awesome", style="font-size:25px"><span class="fa fa-font-awesome" aria-hidden="true"></span>Sign with Font Awesome</a>
  </div>
</footer>
